$colors: (
        dark: #222629,
        lightGreen: #86C232,
        darkGreen: #61892F,
        white: #FFFFFF,
        grey: #94949a,
);

@mixin horizontal-margin-auto {
  margin-left: auto;
  margin-right: auto;
}

$sizeBreakpoints: (
        medium: 600px,
        large: 1000px,
);

@mixin setAttributesForSize($canvas) {
  @if map-has-key($sizeBreakpoints, $canvas) {
    @media only screen and (min-width: map-get($sizeBreakpoints, $canvas)) {
      @content;
    }
  }
}

html {
  background-color: map-get($colors, dark);
  color: map-get($colors, white);
}

body {
  @include horizontal-margin-auto();
  max-width: 85%;
  font-family: Verdana, serif;

  @include setAttributesForSize(medium) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

.ham {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
  background: map-get($colors, lightGreen);
  border-radius: 5px;

  @include setAttributesForSize(medium) {
    display: none;
  }

  img {
    width: 40px;
    height: 40px;
  }
}

nav ul {
  background: map-get($colors, lightGreen);
  border-radius: 10px;
}

.menuList {
  display: none;

  @include setAttributesForSize(medium) {
    width: 100%;
    font-size: 2.7vw;
    display: block;
    text-align: center;

    ul {
      display: inline-block;
      margin: auto;
    }

    li {
      display: inline;

      &:hover {
        background: map-get($colors, darkGreen);
      }
    }
  }
}

h1, h2 {
  text-align: center;
  color: map-get($colors, darkGreen);
}

h3 {
  color: map-get($colors, grey);
}

h4 {
  color: map-get($colors, lightGreen);
}

a {
  color: map-get($colors, white);
  text-decoration: none;
}

main {
  @include setAttributesForSize(medium) {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3%;

    > {
      article {
        grid-column: 2;
        display: grid;
      }
    }
  }

  @include setAttributesForSize(large) {
    grid-template-rows: 3fr 1fr;
  }
}

img {
  @include horizontal-margin-auto();
  display: block;

  @include setAttributesForSize(medium) {
    grid-column: 1;
  }

  @include setAttributesForSize(large) {
    grid-row: 1 / 3;
  }
}

.profilePicture {
  max-width: 400px;
  width: 100%;
  height: auto;
}

pre {
  display: inline-block;
  text-align: left;
  font-family: Courier, serif;
  font-size: 2.5vw;
  color: map-get($colors, white);
  background-color: map-get($colors, lightGreen);
  border-radius: 10px;
  padding: 5px;

  @include setAttributesForSize(medium) {
    font-size: 1.3vw;
  }
}

figure {
  display: block;
  margin: auto;
  text-align: center;
}

.project_picture {
  visibility: hidden;
  width: 0;
  height: auto;

  @include setAttributesForSize(large) {
    visibility: visible;
    max-width: 600px;
    width: 90%;
  }
}

.repo_link {
  color: map-get($colors, grey);
}

.contact_table td {
  padding: 2px 10px;
}

@include setAttributesForSize(medium) {
  header {
    grid-column: 1 / 3;
  }
}

@include setAttributesForSize(large) {
  .hobby_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;

    h2 {
      grid-column: 1 / 3;
    }

    h3 {
      text-align: center;
    }
  }

  .hobby_math_IT {
    grid-column: 1;
  }

  .hobby_other {
    grid-column: 2;
  }

  .project {
    display: grid;
    grid-template-columns: 1fr 1fr;

    > h2 {
      grid-column: 1 / 3;
    }
  }

  p {
    grid-column: 1 / 3;
  }

  nav {
    margin: 2%;
  }
}
