body {
    background-color: #222629;
    color: #FFFFFF;
}

h1, h2 {
    text-align: center;
    color: #61892F;
}

h3 {
    color: #94949a;
}

h4 {
    color: #86C232;
}

a {
    color: #6B6E70;
}

.button {
    background-color: #86C232;
    border-radius: 5px;
    max-width: 150px;
    text-align: center;
}

.profilePicture {
    width: 300px;
    height: 300px;
}