body {
    display: block;
}

canvas {
    border: 1px solid black;
    margin: auto;
    background: red;
}

.imagesList {
    display: inline;
}

.imagesList li {
    display: inline-block;
}

img {
    width: 56px;
    height: 80px;
}
